<div>
  <div id="image-panel" *ngIf='isAuthenticated()'>
    <div div fxLayout="row" fxLayoutAlign="center end"class="user-profile">
      <img [src]="imagePath | safe" height="115px" />
      <div fxLayout="row"> 
        <input  type="file" (change)="handle($event)" accept="image/gif, image/jpeg, image/png" #imageFile />
        <span class="spacer"></span>
        <button mat-icon-button (click)="openFile()"><mat-icon  color="warn" class="photo-btn" title="{{title}}">add_a_photo</mat-icon></button>
      </div>
    </div>
  </div>

  <div *ngIf='isAuthenticated()' class="navigation-menu" fxLayout="column">
    <a mat-raised-button [routerLink]="['/applicant/dashboard']" routerLinkActive="selected"><mat-icon>home</mat-icon>Home</a>
    <a mat-raised-button [routerLink]="['/applicant/education']" *ngIf="showEducation">Education Dashboard</a>
    <a mat-raised-button [routerLink]="['/applicant/education/subjects']" *ngIf="showEducation">Add Teaching Subjects</a>
    <a mat-raised-button [routerLink]="['/applicant/education/schools']" *ngIf="showEducation">Select Schools</a>
    <a mat-raised-button [routerLink]="['/applicant/health']" *ngIf="showHealth">Health Dashboard</a>
    <a mat-raised-button [routerLink]="['/applicant/health/selectfacility']" *ngIf="showHealth">Select Facility (Choices)</a>
    <!-- <a mat-raised-button [routerLink]="['/applicant/education/letter']" *ngIf="showEducation" >Attach Letter</a> -->
    <a mat-raised-button [routerLink]="['/applicant/health/letter']" *ngIf="showHealth">Attach Letter</a>
  </div>
</div>
