
.mat-column-sn {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding-left: 5px;
}
.mat-column-subject {
word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 95% !important;
width: 95% !important;
overflow-wrap: break-word;
word-wrap: break-word;
-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
}

.mat-column-region, .mat-column-council {
word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 10% !important;
width: 10% !important;
overflow-wrap: break-word;
word-wrap: break-word;
-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
}


.mat-column-schoolName {
word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 75% !important;
width: 75% !important;
overflow-wrap: break-word;
word-wrap: break-word;
-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
} 


/************* Mobile **************************/

.mobile-label {
display: none;
}

@media(max-width: 780px) {
.mobile-label {
    width: 100px;
    display: inline-block;
        font-weight: bold;
}

.mat-header-row {
    display: none;
}

.mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 5px 3px;
}
.mat-cell {
    word-break: unset;
}
.mat-column-educationLevel {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-dateFrom, .mat-column-dateTo {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
} 

}


/*@media(max-width: 760px) {
.mat-toolbar-single-row {
    height: 35px !important;
}

.mat-column-educationLevel{
    width:100%;
}

.mat-header-row {
    display: none;
}

.mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
}
}*/