.printout-label{
  font-weight: bold;
  padding-right:7px;
}

.mat-column-AttachmentType {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 85% !important;
  width: 85% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/************* Mobile **************************/
.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media(max-width: 780px) {
  .mat-card .mat-card-content {
    font-size: 1rem;
    line-height: 23px;
    padding: 5px 0px;
  }
  
  .mobile-label {
    width: 100px;
    display: inline-block;
    padding-right: 7px;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 5px 3px;
  }
  .mat-column-actions{
    width: 100% !important;
  }

}
