
.mat-card .mat-card-content {
    font-size: 1rem;
    line-height: 23px;
    padding: 0px 24px;
}

table{
    width: 100%;
    margin: 0.5rem 0;
}

table tr{
    border-top: 1px solid #c8ced3;
}
table th{
    font-weight: 700;
    padding-left: .5rem;
    color: #23282c;
    /*background-color: #f8f9fa;*/
    background-color: #c8ced3;
    padding: 0px 7px;
}

table th, table td{
    text-align: left;
    /*font-size: .85em;*/
    /* font-size: .85em; */
    border-right: 1px solid #efecec;
    /*border-top: 1px solid #c8ced3;*/
}
tr.mat-row{
    height: 45px;
}

/************* Mobile **************************/
.mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mobile-label {
    display: none;
  }
  
  @media(max-width: 600px) {
    .mat-card .mat-card-content {
        font-size: 1rem;
        line-height: 23px;
        padding: 5px 0px;
      }
    .mobile-label {
      width: 120px;
      display: inline-block;
      padding-right: 7px;
      font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 5px 3px;
    }
    .mat-column-actions{
      width: 100% !important;
    }
  
  }
  