
.formclass{
    /* padding: 10px; */
}

.box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax( calc(250px + 3vw), 1fr));
}
.school-table{
  width: 100%;
  /* padding: 10px; */
}
.selected{
  padding: 10px;
  
}

.mat-column-sn {
  width: 5% !important;
  display: flex;
  justify-content: center;
  text-align: center;
  } 

.mat-column-region, .mat-column-council {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  }
  
  
  .mat-column-schoolName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 35% !important;
  width: 35% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  } 
  