<div>
    <div class="content-container">
        <!--<button mat-icon-button color="warn">
            <mat-icon (click)="closeDialog()">close</mat-icon>
        </button>-->
       
        <p style="padding: 0 1em;">{{message}}</p>
        <!--<span> Are you sure you want to delete this record? </span>-->
    </div>
    <div>
        <button mat-flat-button fxFlex color="warn" [mat-dialog-close]="false" style="margin:5px;">NO </button>
        <button mat-flat-button fxFlex color="primary"  [mat-dialog-close]="true" style="margin:5px;">YES </button>
    </div>

   
    
</div>