<style>
span mat-icon{
    cursor: pointer;
}
</style> 

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
</ngx-spinner>
<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="40" fxFlex.lt-md = "100" fxFlex.md = "50">
        <mat-card>
            <mat-toolbar color="primary" style="height: 35px; background-color: #1e88e5; color:#fff;">
                <!--<button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>-->
            <span>Change Password</span>
            </mat-toolbar>
            <mat-card-content>
                <form [formGroup]="changePasswordForm" (submit)="resetPassword()">
                    <mat-form-field>
                        <input [type]="hideOldPassword ? 'password':'text'" matInput placeholder="Old password" formControlName='oldPassword' >
                        <mat-icon class="visibility-icon" matPrefix (click)="hideOldPassword=!hideOldPassword">{{hideOldPassword ? 'visibility_off': 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input [type]="hideNewPassword ? 'password':'text'" matInput placeholder="New password" formControlName='newPassword' >
                        <mat-icon class="visibility-icon" matPrefix (click)="hideNewPassword=!hideNewPassword">{{hideNewPassword ? 'visibility_off': 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input  [type]="hideConfirmPassword ? 'password':'text'" matInput placeholder="Confirm New Password" formControlName='confirmPassword' [errorStateMatcher]="errorMatcher">
                        <mat-icon class="visibility-icon" matPrefix (click)="hideConfirmPassword=!hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off': 'visibility'}}</mat-icon>
                        <mat-error *ngIf="changePasswordForm.hasError('passwordsDoNotMatch')">
                        Passwords do not match!
                        </mat-error>
                    </mat-form-field>
                    
                    <button mat-raised-button  color="primary" type="submit">Submit</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>