.subject-table{
  width: 100%;
  margin-top: 20px;
}

.printout-label{
    font-weight: bold;
    padding-right:10px;
}
.mat-column-sn {
  width: 5% !important;
  display: flex;
  justify-content: center;
  text-align: center;
}
.mat-column-subject {
word-wrap: break-word !important;
white-space: unset !important;
flex: 0 0 55% !important;
width: 55% !important;
overflow-wrap: break-word;
word-wrap: break-word;
-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
}
.mat-column-id {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 40% !important;
  width: 40% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  text-align: center;
  }




  
  /************* Mobile **************************/
  
  .mobile-label {
    display: none;
  }
  
  @media(max-width: 780px) {
    .mobile-label {
      width: 100px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 5px 3px;
    }
    .mat-cell {
      word-break: unset;
    }

    .mat-column-sn {
      width: 100% !important;
      display: flex;
      justify-content: left;
      text-align: left;
    }
    .mat-column-subject {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    }
    .mat-column-id {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 100% !important;
      width: 100% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      display: flex;
      justify-content: left;
      text-align: left;
      }
    
  }
  
  