<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-clockwise-fade"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<mat-card>
    <mat-toolbar
        [ngStyle.xs]="{'height': '25px', 'font-size': '.7em', 'background': 'radial-gradient(#bfbfc4, #fff)', 'color':'#000', 'border': '1px solid #ccc'}"
        [ngStyle.sm]="{'height': '27px', 'font-size': '.7em', 'background': 'radial-gradient(#bfbfc4, #fff)', 'color':'#000', 'border': '1px solid #ccc'}"
        [ngStyle.md]="{'height': '29px', 'font-size': '.8em', 'background': 'radial-gradient(#bfbfc4, #fff)', 'color':'#000', 'border': '1px solid #ccc'}"
        [ngStyle.lg]="{'height': '31px', 'font-size': '.9em', 'background': 'radial-gradient(#bfbfc4, #fff)', 'color':'#000', 'border': '1px solid #ccc'}"
        [ngStyle.xl]="{'height': '33px', 'font-size': '.9em', 'background': 'radial-gradient(#bfbfc4, #fff)', 'color':'#000', 'border': '1px solid #ccc'}">
        <!--<button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>-->Applicant Teaching Subject
    </mat-toolbar>
    <mat-card-content>
        <div style="margin-bottom:.5rem" fxShow="false" fxShow.md="true" fxShow.lg="true" fxShow.xl="true"><button
                mat-raised-button (click)="openDialog()">
                <mat-icon>add_circle</mat-icon>Add New
            </button></div>
        <div style="margin-bottom:.5rem" fxShow="false" fxShow.xs="true" fxShow.sm="true"><button mat-mini-fab
                color="primary" (click)="openDialog()" title="add new">+</button></div>

        <mat-table [dataSource]="subjectdataSource" class="subject-table">
            <ng-container matColumnDef="sn">
                <mat-header-cell *matHeaderCellDef> SN </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="subject">
                <mat-header-cell *matHeaderCellDef> Subject Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.subject.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button type="button" mat-icon-button color="warn" title="delete" (click)="onDelete(element.id)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="subjectloading">
                <mat-footer-cell *matFooterCellDef colspan="5">
                    <div class="loader"></div>
                    loading data...
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noSubjectData" >
                <mat-footer-cell *matFooterCellDef colspan="5"> No subject selected </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="subjectdisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: subjectdisplayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['subjectloading']" [ngClass]="{'hide':!loading }"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noSubjectData']" [ngClass]="{'hide':!isSubjectSelected }"></mat-footer-row>
        </mat-table>

    </mat-card-content>
</mat-card>