 
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true">
        <p style="color: white"> Please wait... </p>
    </ngx-spinner>
    <mat-card >
        <!--<mat-toolbar style="height: 35px; font-size: 1em; background: radial-gradient(#bfbfc4, #fff); color:#000; border: 1px solid #ccc;">
            Account Activation
        </mat-toolbar>
        <mat-card-content>
            <mat-toolbar color="primary" style="height: 40px;background-color: #1e88e5; color:#fff; ">Sucess</mat-toolbar>
            <div style="padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
                <p><strong>your account has been activated successfully. you may now <a>login</a></strong></p>
            </div>
        </mat-card-content>-->

    </mat-card>

