 
    <mat-card >
        <mat-toolbar color="accent" style="height: 35px; font-size: 1em; background: radial-gradient(#bfbfc4, #fff); color:#000; border: 1px solid #ccc;">
            Registration Successful
        </mat-toolbar>
        <mat-card-content>
            <p>Verification email was sent to <b>{{emailAddress}}</b>, Open the email and click verification link to activate your account</p>
            <p><b><code>Note:</code></b> If you don't see the verification email in your inbox, please check your Junk or Spam folders.</p>
            <hr>
            <!--<p>Thank you for registering</p>-->
        </mat-card-content>
        <!--<mat-card-actions>
            Click <button mat-button [routerLink]="['/login']">here </button> to return to home page
        </mat-card-actions>-->
    </mat-card>

