

  table{
    width:100%;
    border-spacing: 0 8px !important;
  }
  table th{
    color: #747c83;
    padding: .5rem 0;
  }

  table th, table td{
      text-align: left;
      font-size: 1rem;
  }
  tr.mat-row{
      height: 48px;
  }
  .mat-column-ItemName {
    flex: 0 0 425px;
    padding-right: 7px;
  }

  .ng-select.ng-invalid.ng-touched{
    border:1px dotted rgb(228, 91, 91);
  }
  .ng-select {
    padding-bottom: 0px;
  }

  .auto-fill-field{
    color: #663399;
    font-weight: 500;
  }


  